{% extends "index2.html" %}

{% block content %}
<br>
<h1 style="font-size: 30px">Datos para crear carpeta</h1>

<form action="/crearC/" method="GET">
  <div class="form-row">
    <div class="form-group col-auto">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" name="creado" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
  </div>
</form>



<br>
<br>
{{ mensaje }}
{{ rArchivos }}
{% endblock %}