<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Directorio activo</title>

  	  {# Cargamos la librería #}
	  {% load bootstrap4 %}

	  {# CSS Bootstrap #}
	  {% bootstrap_css %}
    <style>
        body {background-color:beige; font-family: Bahnschrift}
        div.form-check {font-family: Bahnschrift}

    </style>
  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/inicio/">Directorio activo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/inicio/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crear/">Crear</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Eliminar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Copiar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Modificar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Permisos</a>
        </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" action="/buscar/" method="GET">
      <input class="form-control mr-sm-2" name="aBuscar" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
Que desea crear?
<br>
<br>
<div class="form-check col-md-6">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label">Carpeta</label>
</div>
<div class="form-check col-md-6">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label">Archivo</label>
</div>
<br>
<form>
  <div class="form-group col-md-6">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary col-md-6">Crear</button>
</form>

    {% bootstrap_javascript jquery='full' %}
</body>
</html>