<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Proyecto So</title>

  	  {# Cargamos la librería #}
	  {% load bootstrap4 %}

	  {# CSS Bootstrap #}
	  {% bootstrap_css %}
    <style>
        body {background-color:beige; font-family: Bahnschrift; margin: 15px}
        div.form-check {font-family: Bahnschrift}
        .archiv, .carpet {height: 70px; width: 90px;}
        .carpet{background: indianred}

    </style>
  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/inicio/">Ruta: {{ ubicacion }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/inicio/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crearA/">Crear archivo</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/crearC/">Crear carpeta</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/cambiarN/">Cambiar nombre</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/eliminar/">Eliminar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/copiar/">Copiar y pegar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mover/">Mover/Cortar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/verPermisos/">Ver permisos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/modificarPermisos/">Modificar permisos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/modificarPropietario/">Modificar propietario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/otraRuta/">Consultar otra ruta</a>
        </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" action="/buscar/" method="GET">
      <input class="form-control mr-sm-2" name="aBuscar" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
<br>
<!--<div id="response">
            <p>Estamos en: {{ubicacion}}</p>
            <br>
            <p>
            Carpetas:
                {% for i in carpetas %}

                <p>{{i}}</p>

                {% endfor %}
            </p>
            <p>
                Archivos:
                {% for i in archivos %}

                <p>{{i}}</p>

                {% endfor %}

            </p>
        </div>-->


{% for i in lArchivos %}

<div class="row">
    {% for j in i %}
    <div class="col d-flex justify-content-center flex-column align-items-center">
        <img src="/iconos/archivo.png" class="archiv"></img>
        <label>{{ j }}</label>
    </div>
    {% endfor %}
</div>

{% endfor %}

{% for i in rArchivos %}

<div class="row">
    {% for j in i %}
        {% if j != "" %}
    <div class="col-2 d-flex justify-content-center flex-column align-items-center">
        <img src="/iconos/archivo.png" class="archiv"></img>
        <label>{{ j }}</label>
    </div>
        {% endif %}
    {% endfor %}
</div>

{% endfor %}


{% for i in lCarpetas %}

<div class="row">
    {% for j in i %}
    <div class="col d-flex justify-content-center flex-column align-items-center">
        <img src="/iconos/carpeta.png" class="archiv"></img>
        <label>{{ j }}</label>
    </div>
    {% endfor %}
</div>

{% endfor %}
{% for i in rCarpetas %}

<div class="row">
    {% for j in i %}
        {% if j != "" %}
    <div class="col-2 d-flex justify-content-center flex-column align-items-center">
        <img src="/iconos/carpeta.png" class="archiv"></img>
        <label>{{ j }}</label>
    </div>
        {% endif %}
    {% endfor %}
</div>

{% endfor %}


<hr style="height: 5px; background: black"/>

    {% block content %} {% endblock %}

    {% bootstrap_javascript jquery='full' %}

</body>
</html>