{% extends "index2.html" %}

{% block content %}
<br>
<h1 style="font-size: 30px">De que objeto desea ver los permisos?</h1>

<form action="/verPermisos/" method="GET">
  <div class="form-row">
    <div class="form-group col-auto">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Consultar</button>
  </div>
</form>


<br>
<h1>{{ archivo }}</h1>
<h1>{{ mensaje }}</h1>
{% endblock %}